@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.ascii-container span {
  transition: opacity 0.2s;
}

/* .ascii-container span:hover,
.ascii-container span:hover ~ span,
.ascii-container span:hover ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span,
.ascii-container span:hover ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span ~ span {
  opacity: 0.1;
}

.ascii-container span:hover {
  opacity: 1 !important;
}

.ascii-container span {
  transition: opacity 0.2s;
}

.ascii-container span.hovered {
  opacity: 1 !important;
} */


.ascii-container span {
  display: inline-block;
  transition: transform 0.2s;
}

.ascii-container span.moved {
  transform: translate(0, 0);
}
